<div class="mt">
  <img
    src="../../../assets/png/first.png"
    alt="Imagen promocional Pluss"
    class="img-fluid"
    id="first"
  />
  <div class="content text-center">
    <h4 class="text-primary fw-bold">LA PRIMERA APP</h4>
    <h6 class="text-primary">QUE TE PAGA POR COMPRAR</h6>
    <div class="col-12 d-flex">
      <button
        mat-fab
        extended
        color="primary"
        class="mx-auto my-3"
        (click)="onLogin()"
      >
        Iniciar Sesión
      </button>
    </div>
    <p>¿No tienes una cuenta? <a class="text-primary">Resgístrate</a></p>
  </div>
</div>
<div class="container-fluid backgound-color pb-4">
  <div class="row">
    <div class="col-lg-6 align-self-center" id="text-about">
      <h3 class="text-primary">¿Qué es Pluss?</h3>
      <p class="text-primary">
        Pluss nace como una iniciativa que busca ser un soporte seguro tanto
        para empresas como para consumidores
      </p>
      <h5 class="text-primary">Ventajas</h5>
      <ul class="text-primary">
        <li>Accede a cientos de tiendas y genera ahorros comprando</li>
        <li>Obtén promociones y descuentos expeciales</li>
        <li>Gana dinero comprando para otros</li>
        <li>
          Encuentra cientos de negocios y todos sus productos en un solo lugar
        </li>
      </ul>
    </div>
    <div class="col-lg-6 d-flex pe-0">
      <img
        src="../../../assets/png/second.png"
        alt="Ilustración de negocio"
        id="second"
        class="ms-auto img-fluid"
      />
    </div>
  </div>
  <!-- CATEGORIAS -->
  <div class="row mt-4">
    <div class="col-12 text-center">
      <h2 class="text-primary">CATEGORÍAS</h2>
      <p>TODOS NUESTROS NEGOCIOS ASOCIADOS POR CATEGORÍA</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 my-1">
        <img src="../../../assets/img/example.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-4 my-1">
        <img src="../../../assets/img/example.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-4 my-1">
        <img src="../../../assets/img/example.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-4 my-1">
        <img src="../../../assets/img/example.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-4 my-1">
        <img src="../../../assets/img/example.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-4 my-1">
        <img src="../../../assets/img/example.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-12 d-flex mt-3">
        <button mat-fab extended class="bg-white text-primary mx-auto">
          Ver todos los comercios
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="row mt-5">
    <div class="col-12">
      <img
        src="../../../assets/img/example.jpg"
        alt=""
        class="img-fluid"
        id="banner"
      />
    </div>
  </div> -->
</div>
